<div class="min-h-screen flex items-center justify-center bg-gray-100 px-4">
    <div class="bg-white shadow-lg rounded-2xl w-full max-w-md p-8">
        <h2 class="text-2xl font-semibold text-center text-gray-800 mb-6">
        {{ sent ? 'Введите код подтверждения' : 'Подтвердите ваш email' }}
        </h2>

        <!-- Email input -->
        
        @if (!sent) {
            <div class="space-y-4">
                <label class="block text-gray-600 font-medium">Email</label>
                <input
                    [(ngModel)]="sendCodeForm.email"
                    type="email"
                    placeholder="you@example.com"
                    class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500 outline-none"
                />
                <button
                    (click)="onSendCode()"
                    class="w-full py-2 bg-blue-600 hover:bg-blue-700 text-white rounded-lg font-semibold transition"
                >
                    Send code
                </button>
            </div>
        }

        <!-- Code input -->
        @if (sent) {
            <div class="space-y-4">
                <label class="block text-gray-600 font-medium">Verification code</label>
                <input
                    [(ngModel)]="verifyCodeForm.code"
                    type="text"
                    placeholder="code"
                    class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500 outline-none tracking-widest text-center text-lg font-mono"
                />
                <button
                    (click)="onVerify()"
                    class="w-full py-2 bg-green-600 hover:bg-green-700 text-white rounded-lg font-semibold transition"
                >
                    Confirm
                </button>

                <p class="text-sm text-gray-500 text-center mt-2">
                    Did not receive code?
                    <a (click)="onSendCode()" class="text-blue-600 cursor-pointer hover:underline">
                        Send again
                    </a>
                </p>
            </div>
        }
        
        <!-- Message -->
        @if (message) {
            <p class="mt-6 text-center text-gray-700 font-medium">
                {{ message }}
            </p>
        }
    </div>
</div>
